<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baidu.AI" version="3.6.14" targetFramework="net452" />
  <package id="IronOcr" version="4.4.0" targetFramework="net452" />
  <package id="IronOcr.Languages.Arabic" version="4.4.4.11" targetFramework="net452" />
  <package id="IronOcr.Languages.ChineseSimplified" version="4.4.4.1" targetFramework="net452" />
  <package id="IronOcr.Languages.ChineseTraditional" version="4.4.4.1" targetFramework="net452" />
  <package id="IronOcr.Languages.Danish" version="4.4.4.1" targetFramework="net452" />
  <package id="IronOcr.Languages.Finnish" version="4.4.4.1" targetFramework="net452" />
  <package id="IronOcr.Languages.French" version="4.4.4.2" targetFramework="net452" />
  <package id="IronOcr.Languages.German" version="4.4.4.11" targetFramework="net452" />
  <package id="IronOcr.Languages.Hebrew" version="4.4.4.1" targetFramework="net452" />
  <package id="IronOcr.Languages.Italian" version="4.4.4.11" targetFramework="net452" />
  <package id="IronOcr.Languages.Japanese" version="4.4.4.1" targetFramework="net452" />
  <package id="IronOcr.Languages.Korean" version="4.4.4.1" targetFramework="net452" />
  <package id="IronOcr.Languages.Norwegian" version="4.4.4.1" targetFramework="net452" />
  <package id="IronOcr.Languages.Portuguese" version="4.4.4.1" targetFramework="net452" />
  <package id="IronOcr.Languages.Russian" version="4.4.4.1" targetFramework="net452" />
  <package id="IronOcr.Languages.Spanish" version="4.4.4.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="NPOI" version="2.5.1" targetFramework="net452" />
  <package id="Ocr" version="4.4.4.11" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.8.6.7" targetFramework="net452" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net452" />
</packages>