<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RXQuestServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <RXQuestServer.Properties.Settings>
            <setting name="ModelName" serializeAs="String">
                <value>T15</value>
            </setting>
            <setting name="RobotID" serializeAs="String">
                <value>R11</value>
            </setting>
            <setting name="Registed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyCode" serializeAs="String">
                <value/>
            </setting>
            <setting name="User" serializeAs="String">
                <value/>
            </setting>
            <setting name="Company" serializeAs="String">
                <value/>
            </setting>
            <setting name="RegisteTime" serializeAs="String">
                <value/>
            </setting>
            <setting name="Phone" serializeAs="String">
                <value/>
            </setting>
        </RXQuestServer.Properties.Settings>
    </userSettings>
</configuration>
