<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronOcr" version="4.4.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net452" />
  <package id="NDbUnit.Core" version="1.6.8.0" targetFramework="net452" />
  <package id="NDbUnit.SqlLite" version="1.6.8.0" targetFramework="net452" />
  <package id="NPOI" version="2.5.1" targetFramework="net452" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net452" />
</packages>